---
import BaseLayout from "@layouts/BaseLayout.astro";
import Talk from "@components/ui/Talk.astro"
import TalksData from "@data/talks.json"
---

<BaseLayout>
  <main 
    class="container" 
    style="padding-top: var(--spacing-xl);" 
    x-data="{ loading: false }" 
    x-init="loading = false"
  >
    <div class="section-header mb-xl">
      <h1 class="section-title">ارائه‌ها</h1>
      <p class="section-subtitle">وبینارها و کارگاه‌های آموزشی گنوم فارسی</p>
    </div>

    <div x-show="loading" class="text-center">
      <p>در حال بارگذاری...</p>
    </div>

    <div class="grid grid-auto" x-show="!loading">
      {TalksData.length > 0? (
        TalksData.map(talk => (<Talk key={talk.id} talk={talk} />))
      ): (
        <div x-show="!loading" class="text-center mt-xl">
          <p>ارائه‌ای یافت نشد.</p>
        </div>
      )}
    </div>
  </main>
</BaseLayout>