---
import Header from "@components/page/Header.astro";
import Footer from "@components/page/Footer.astro";
const { pageTitle } = Astro.props;
const siteTitle = "گنوم فارسی";

import "@styles/variables.css";
import "@styles/base.css";
import "@styles/components.css";
import "@styles/layout.css";
import "@styles/specific-components.css";
import "@styles/utilities.css";
import "@styles/responsive.css";
import "@styles/animations.css";
import "@styles/accessibility.css";
---

<html lang="fa" dir="rtl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="title" content="گنوم فارسی">
        <meta name="description" content="جامعه فارسی زبان گنوم">
        <meta name="generator" content={Astro.generator} />

        <!-- Open Graph -->
        <meta property="og:title" content="گنوم فارسی">
        <meta property="og:url" content="https://fa.gnome.org">
        <meta property="og:description" content="جامعه گنوم فارسی؛ جامعه‌ای برای محیط میزکار آزاد و مدرن برای همه‌ کاربران فارسی‌زبان.">
        <meta property="og:image" content="https://fa.gnome.org/gnome-fa-og.jpg">

        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <script src="/assets/js/app.js" defer></script>

        <title>{pageTitle ? `${pageTitle} | ${siteTitle}` : siteTitle}</title>

    </head>
    <body>
        <Header />
            <slot />
        <Footer />
    </body>
</html>
