---
const { article, dateOptions } = Astro.props;
const authors = Array.isArray(article.data.author)? article.data.author: [article.data.author].filter(Boolean);
---
<a href={`/articles/${article.slug}`}>
<div class="card article-card">
  <div class="article-meta">
    {authors.length > 0 && (
      <>
        <span>{authors.join("، ")}</span>
        <span>•</span>
      </>
    )}
    <span>
      {new Date(article.data.date).toLocaleDateString("fa-IR", dateOptions)}
    </span>
  </div>

  <h2 class="article-title">
    <p class="article-title">{article.data.title}</p>
  </h2>

  <p class="article-excerpt">{article.data.description}</p>
</div>
</a>
